src/main/resources/wsdl/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloService" targetNamespace="http://cxf.learn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cxf.learn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <wsdl:types>
    <xs:schema xmlns:tns="http://cxf.learn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://cxf.learn/" version="1.0">

      <!-- definitions for service 'bonjour' -->
      <xs:element name="bonjour" type="tns:bonjour"/>
      <xs:element name="bonjourResponse" type="tns:bonjourResponse"/>

      <xs:complexType name="bonjour">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="nickname" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="bonjourResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>

  <wsdl:message name="bonjourResponse">
    <wsdl:part name="parameters" element="tns:bonjourResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bonjour">
    <wsdl:part name="parameters" element="tns:bonjour">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="HelloWS">
    <wsdl:operation name="bonjour">
      <wsdl:input name="bonjour" message="tns:bonjour"/>
      <wsdl:output name="bonjourResponse" message="tns:bonjourResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="HelloServiceSoapBinding" type="tns:HelloWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bonjour">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bonjour">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bonjourResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="HelloService">
    <wsdl:port name="HelloWSPort" binding="tns:HelloServiceSoapBinding">
      <soap:address location="http://localhost:9090/HelloWSPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
